
<div class="bg-teal-200 w-full min-h-screen flex items-center justify-center">
  <div class="lg:flex items-center space-x-16">
    <div class="w-5/6 md:w-3/4 lg:w-2/3 xl:w-[500px] 2xl:w-[550px] mt-8 mx-auto px-16 py-8 rounded-lg">
      <h2 class="text-center text-2xl font-bold tracking-wide text-gray-800">Sign Up</h2>
      <p class="text-center text-sm text-gray-600 mt-2">Already have an account? 
        <a>
          <%= link_to 'login', login_path, class:"text-blue-600 hover:text-blue-700 hover:underline" %>
        </a>
      </p>
      <%= form_with model: @user, local: true do |f| %>
        <div class="flex flex-col my-4">
          <%= f.label :name, class:"text-gray-700" %>
          <%= f.text_field :name, class:"mt-2 p-2 border border-gray-300 focus:outline-none focus:ring-0 focus:border-gray-300 rounded text-sm text-gray-900" %>
        </div>
        <div class="flex flex-col my-4">
          <%= f.label :email, class:"text-gray-700" %>
          <%= f.email_field :email,  class:"mt-2 p-2 border border-gray-300 focus:outline-none focus:ring-0 focus:border-gray-300 rounded text-sm text-gray-900" %>
        </div>
        <div class="flex flex-col my-4">
          <%= f.label :password, class:"text-gray-700" %>
          <%= f.password_field :password, class:"flex-1 p-2 border pr-10 border-gray-300 focus:outline-none focus:ring-0 focus:border-gray-300 rounded text-sm text-gray-900" %>
        </div>
        <div class="flex flex-col my-4">
          <%= f.label :password_confirmation, class:"text-gray-700" %>
          <%= f.password_field :password_confirmation, class:"flex-1 p-2 pr-10 border border-gray-300 focus:outline-none focus:ring-0 focus:border-gray-300 rounded text-sm text-gray-900" %>
        </div>
        <div class="flex items-center">
          <input type="checkbox" name="remember_me" id="remember_me" class="mr-2 focus:ring-0 rounded">
          <label for="remember_me" class="text-gray-700">I accept the <a href="#" class="text-blue-600 hover:text-blue-700 hover:underline">terms</a> and <a href="#" class="text-blue-600 hover:text-blue-700 hover:underline">privacy policy</a></label>
        </div>
        <div class="my-4 flex items-center justify-end space-x-4">
          <%= f.submit "sign up", type: "submit", class: "bg-blue-600 hover:bg-blue-700 rounded-lg px-8 py-2 text-gray-100 hover:shadow-xl transition duration-150 uppercase " %>
        </div>
        <div class="flex flex-wrap justify-center">
         <img src="https://imgproxy-us-east-2-new.icons8.com/zus-wVnVbjNm6oC65UvWJVLj3h-WbwOy8o92psKj8Dc/rs:fit:256:241/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvMjU3/LzdkMzA5ZjQxLTY4/MzktNGUyYi05YjUw/LWI2Y2NiMzkyZTgz/MC5zdmc.png/download?filename=transistor-two-men-and-a-woman-holding-welcome-sign.png" class="max-w-sm h-auto" alt="" />
        </div>
      <% end %>
    </div>
  </div>
</div>
